.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
}

.page__content {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 627px) {
  .page__content {
    width: 100%;
    max-width: none;
    padding: 0 20px;
  }
}
